@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>This is the registration site for ejc2017 in Bergen. <small>Click <a asp-action="Participants" asp-controller="Home">here</a> to register</small></h1>
    </div>
</div>
